.nav {
    width: 483px;
    float: right;
    margin: 19px 0 5px 0;
}
.nav > ul > li {
    float: left;
    margin-left: 20px;
}
.nav > ul > li a {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
}
.nav > ul > li a:hover {
    color: #00c;
}
.nav > ul > li:last-child {
    margin-left: 23px;
}
.nav > ul > li:last-child a {
    background-color: #38f;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    padding: 4px;
    border-bottom: 1px solid #38f;
}